.card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 30%;
  min-width: 250px;
  cursor: pointer;
}

.name-left {
  color: white;
  font-size: 1rem;
  flex: 1;
  text-align: left;
}

.coffee-icon {
  background-color: #c97a3a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 20px;
}

.coffee-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.name-right {
  color: white;
  font-size: 1rem;
  flex: 1;
  text-align: right;
}

dialog {
  background-color: #1a1a1a;
  border: 2px solid #c97a3a;
  border-radius: 8px;
  padding: 25px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dialog-title {
  color: #c97a3a;
  margin-bottom: 1rem;
}

.dialog-names {
  margin-bottom: 0.5rem;
}

.dialog-label {
  color: #c97a3a;
  margin-bottom: 0.5rem;
}

.dialog-section input,
.dialog-btns button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #c97a3a;
  background-color: #222;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
}

.dialog-options {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.dialog-btn-primary {
  background-color: #c97a3a;
  color: #1a1a1a;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  margin-right: 10px;
}

.dialog-btn-secondary {
  border: none;
  margin-top: 15px;
  margin-right: 10px;
}
