.hero {
  background: linear-gradient(135deg, #2b1504 0%, #6f3a19 50%, #c97a3a 100%);
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  margin-bottom: 2rem;
}

.hero-title {
  margin-bottom: 0.5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.hero-text p {
  font-weight: bold;
}

.hero-search {
  margin-top: 1rem;
  padding: 8px 12px;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  outline: none;
}
